Repository smarlhens/npm-pin-dependencies: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

ci: use OIDC trusted publisher for npm publishing
  .github/workflows/publish.yml
Due: prettier --write

fix: apply npm pkg fix corrections to package.json
  package.json
Due: prettier --write, sort-package-json

ci: add typecheck step to npm scripts & CI workflows
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  package.json
Due: prettier --write, sort-package-json

chore(deps): downgrade knip to 5.53.0 & pin to patch in ncurc
  .ncurc.js
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: update patch deps version
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): update minor dependencies
  .ncurc.js
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): upgrade commitlint to v20
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: add .nvmrc
  .nvmrc
Due: none

chore: upgrade codeql-action to v4
  .github/workflows/codeql.yml
Due: prettier --write

chore: pin node-20-constrained deps to minor in ncurc
  .ncurc.js
Due: prettier --write

chore: upgrade setup-node to v6 & use .nvmrc
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier --write

chore: upgrade actions/checkout to v6
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier --write

chore: add node 24 to supported engines
  .github/workflows/pr.yml
  README.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(main): release 0.10.2
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

refactor: replace execa with tinyexec
  package-lock.json
  package.json
  tests/cli.spec.ts
Due: prettier --write, sort-package-json

refactor: replace chalk with picocolors
  lib/npd.ts
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

refactor: replace debug with obug
  lib/npd.ts
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

test: add find-up behavior non-regression tests
  tests/find-up.spec.ts
Due: prettier --write

refactor: replace find-up with empathic
  bin/npd.ts
  lib/npd.ts
  package-lock.json
  package.json
  tests/find-up.spec.ts
Due: prettier --write, sort-package-json

chore(main): release 0.10.3
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

feat!: drop node 18 support
  .github/workflows/pr.yml
  .nvmrc
  .renovaterc.json
  README.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(main): release 0.11.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

refactor: replace prettier with oxfmt
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .lintstagedrc.json
  .ncurc.js
  .oxfmtrc.json
  .prettierrc.json
  lib/npd.ts
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

refactor: replace tsup with tsdown
  .ncurc.js
  package-lock.json
  package.json
  tsconfig.json
  tsdown.config.json
  tsup.config.ts
Due: prettier --write, sort-package-json

Path conditions:
  prettier --write: any of: ./**/*.{js,ts,json,yml,md}
  sort-package-json: any of: package.json
