Repository smarlhens/npm-pin-dependencies: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

chore: support node v22
  .github/workflows/pr.yml
  README.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: add editorconfig
  .editorconfig
Due: none

chore(ci): runs-on ubuntu-24.04
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier --write

chore: rename pre-commit npm script & do not run build on pre-commit
  .husky/pre-commit
  package.json
Due: prettier --write, sort-package-json

chore: update release-please
  .github/workflows/ci.yml
  .github/workflows/release.yml
  release-please-config.json
Due: prettier --write

chore: update renovate config
  .renovaterc.json
Due: prettier --write

chore: add git attributes
  .gitattributes
Due: none

chore: run build before test
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  package.json
Due: prettier --write, sort-package-json

chore: update license from MIT to BlueOak-1.0.0
  LICENSE
  LICENSE.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: update patch & minor deps
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, sort-package-json

docs(README): update headline
  README.md
Due: prettier --write

chore: update ncu config
  .lintstagedrc.json
  .ncurc.js
  .ncurc.json
  package.json
Due: prettier --write, sort-package-json

chore: bump major deps & minimal node version to v18.13.0
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  README.md
  lib/npd.ts
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(main): release 0.10.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: update release-please config
  release-please-config.json
Due: prettier --write

test: add missing package json indent required param
  tests/pin-from-obj.spec.ts
Due: prettier --write

test: add more pnpm tests
  examples/pnpm-lock-v5-4/package.json
  examples/pnpm-lock-v5-4/pnpm-lock.yaml
  examples/pnpm-lock-v6/package.json
  examples/pnpm-lock-v6/pnpm-lock.yaml
  examples/pnpm-lock-v9/package.json
  examples/pnpm-lock-v9/pnpm-lock.yaml
  lib/npd.ts
  tests/cli.spec.ts
  tests/pin-from-obj.spec.ts
  tests/validate-pnpm-lock.spec.ts
Due: prettier --write, sort-package-json

chore: bootstrap releases for root package
  .release-please-manifest.json
  release-please-config.json
Due: prettier --write

chore: ci uses release-please config
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

chore(main): release 0.10.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: update knip to v5 & minimal node version to v18.18.0
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .knip.json
  .ncurc.js
  README.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: update execa to v9 & minimal node version to v18.19.0
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .ncurc.js
  README.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: update tsup config extension & add prettier config json schema
  .prettierrc.json
  tsup.config.json
  tsup.config.ts
Due: prettier --write

chore(main): release 0.10.1
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: pin node-20-constrained deps to minor in ncurc
  .ncurc.js
Due: prettier --write

chore: add .nvmrc
  .nvmrc
Due: none

chore: upgrade actions/checkout to v6
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier --write

chore: upgrade setup-node to v6 & use .nvmrc
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier --write

chore: upgrade codeql-action to v4
  .github/workflows/codeql.yml
Due: prettier --write

chore: add node 24 to supported engines
  .github/workflows/pr.yml
  README.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Path conditions:
  prettier --write: any of: ./**/*.{js,ts,json,yml,md}
  sort-package-json: any of: package.json
