Repository smarlhens/npm-pin-dependencies: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

chore(main): release 0.8.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(main): release 0.8.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: update deps
  .github/workflows/pr.yml
  .renovaterc.json
  README.md
  lib/npd.ts
  package-lock.json
  package.json
  vitest.config.ts
Due: prettier --write, sort-package-json

chore(main): release 0.8.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: update deps
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .knip.json
  .prettierrc.json
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): bump to node v18
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  README.md
  lib/npd.ts
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(main): release 0.8.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

feat: support linked packages
  examples/with-lock-file-version-1/package-lock.json
  examples/with-lock-file-version-1/package.json
  examples/with-lock-file-version-2-both/package.json
  examples/with-lock-file-version-2-dependencies/package.json
  examples/with-lock-file-version-2-packages/package.json
  examples/with-lock-file-version-3/package-lock.json
  examples/with-lock-file-version-3/package.json
  examples/with-only-dependencies/package-lock.json
  examples/with-only-dependencies/package.json
  lib/npd.ts
  package.json
  tests/pin-from-obj.spec.ts
  tests/pin-from-string.spec.ts
  tests/validate-package-lock.spec.ts
Due: prettier --write, sort-package-json

feat: ignore local path as version
  examples/workspace/foo/package.json
  examples/workspace/package-lock.json
  lib/npd.ts
  tests/pin-from-obj.spec.ts
Due: prettier --write, sort-package-json

feat: support pnpm
  lib/npd.ts
  package-lock.json
  package.json
  tests/pin-from-obj.spec.ts
  tests/validate-pnpm-lock.spec.ts
Due: prettier --write, sort-package-json

fix: regression on find-up lock path when config filename does not match
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .renovaterc.json
  examples/no-versions-to-pin/package-lock.json
  examples/no-versions-to-pin/package.json
  examples/npm-lock-v1/package-lock.json
  examples/npm-lock-v1/package.json
  examples/npm-lock-v2-dependencies-packages/package-lock.json
  examples/npm-lock-v2-dependencies-packages/package.json
  examples/npm-lock-v2-dependencies/package-lock.json
  examples/npm-lock-v2-dependencies/package.json
  examples/npm-lock-v2-packages/package-lock.json
  examples/npm-lock-v2-packages/package.json
  examples/npm-lock-v3/package-lock.json
  examples/npm-lock-v3/package.json
  examples/resolve-dev-dependencies/package-lock.json
  examples/resolve-dev-dependencies/package.json
  examples/versions-to-pin/package-lock.json
  examples/versions-to-pin/package.json
  examples/with-only-dependencies/package-lock.json
  examples/with-only-dependencies/package.json
  examples/yarn-lock-v1/package.json
  examples/yarn-lock-v1/yarn.lock
  examples/yarn-lock-v2/package.json
  examples/yarn-lock-v2/yarn.lock
  lib/npd.ts
  package-lock.json
  package.json
  tests/cli.spec.ts
  vitest.config.ts
Due: prettier --write, sort-package-json

feat: maintain package json indentation
  lib/npd.ts
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(main): release 0.9.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

feat: add support for pnpm v9
  lib/npd.ts
  tests/validate-pnpm-lock.spec.ts
Due: prettier --write

chore: update release-please
  .github/workflows/ci.yml
  .github/workflows/release.yml
  release-please-config.json
Due: prettier --write

chore(ci): runs-on ubuntu-24.04
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier --write

chore: update renovate config
  .renovaterc.json
Due: prettier --write

chore: add editorconfig
  .editorconfig
Due: none

chore: add git attributes
  .gitattributes
Due: none

chore: rename pre-commit npm script & do not run build on pre-commit
  .husky/pre-commit
  package.json
Due: prettier --write, sort-package-json

chore: run build before test
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  package.json
Due: prettier --write, sort-package-json

docs(README): update headline
  README.md
Due: prettier --write

chore: support node v22
  .github/workflows/pr.yml
  README.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: update license from MIT to BlueOak-1.0.0
  LICENSE
  LICENSE.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: update ncu config
  .lintstagedrc.json
  .ncurc.js
  .ncurc.json
  package.json
Due: prettier --write, sort-package-json

chore: update patch & minor deps
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, sort-package-json

chore: bump major deps & minimal node version to v18.13.0
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  README.md
  lib/npd.ts
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Path conditions:
  prettier --write: any of: ./**/*.{ts,json,yml,md}
  sort-package-json: any of: package.json
